{% extends 'base.html' %}{% load widget_tweaks %}

{% block content %}
<h3 class="pt-5 pb-5 anna-ta-r">Add / Edit Client</h3>

<form method="POST" class="post-form greyed">
    {% csrf_token %}

    <div class="form-group row mt-4">
        <label for="{{ form.client_business_name.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">Client</label>
        <div class="col-sm-4 mb-5">
            <select name="client" class="form-control" id="id_client">
                <option selected disabled>Please choose</option>
                <option value="new_client">Create new client</option>
                {% for client in existing_clients %}
                <option value="{{ client.client_id }}">{{ client.client_business_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row mb-0">
        <label for="{{ form.client_business_name.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.client_business_name.label }}</label>
        <div class="col-sm-4 mb-4">
            {% render_field form.client_business_name class="form-control" %}
        </div>

        <label for="{{ form.client_contact_name.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.client_contact_name.label }}</label>
        <div class="col-sm-4 mb-4">
            {% render_field form.client_contact_name class="form-control" %}
        </div>
    </div>

    <div class="form-group row mb-0">
        <label for="{{ form.client_phone_number.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.client_phone_number.label }}</label>
        <div class="col-sm-4 mb-4">
            {% render_field form.client_phone_number class="form-control" %}
        </div>

       <label for="{{ form.client_email.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.client_email.label }}</label>
        <div class="col-sm-4 mb-4">
            {% render_field form.client_email class="form-control" %}
        </div>
    </div>

    <div class="form-group row mb-0">
        <label for="{{ form.client_address1.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.client_address1.label }}</label>
        <div class="col-sm-4 mb-4">
            {% render_field form.client_address1 class="form-control" %}
        </div>

        <label for="{{ form.client_postcode.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.client_postcode.label }}</label>
        <div class="col-sm-4 mb-4">
            {% render_field form.client_postcode class="form-control" %}
        </div>
    </div>

    <div class="form-group row mb-0">
        <label for="{{ form.client_address2.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.client_address2.label }}</label>
        <div class="col-sm-4 mb-3">
            {% render_field form.client_address2 class="form-control" %}
        </div>

        <label for="{{ form.is_active.id_for_label }}" class="anna-ta-r-wide col-sm-2 col-form-label">{{ form.is_active.label }}</label>
        <div class="col-sm-1 mb-3">
            {% render_field form.is_active %}
        </div>
    </div>

    <div class="form-group row mb-0">
        <div class="offset-sm-2 col-sm-7">
            <span class="form_error text-danger">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
        <div class="col-sm-3 anna-ta-r">
            <input type="submit" value="Confirm" class="btn btn-success">
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script>
 $("#id_username").change(function () {
    $.ajax({
        url: $(this).attr("data-validate-username-url"),
        data: $(this).serialize(),
        dataType: 'json',
        success: function (data) {
            if (data.is_taken) {
                $( ".form_error" ).append(data.error_message);
            }
        }
    });
});
</script>
{% endblock %}
