{% extends 'base.html' %}

{% block content %}
<h3 class="pt-5 pb-5 anna-ta-r">Add / Edit Emoloyee</h3>

<form method="POST" class="post-form greyed">
    {% csrf_token %}
    <div class="form-group row mb-5 mt-3">
        <label for="id_employee" class="col-sm-2 col-form-label">Employee</label>
        <div class="col-sm-4">
            <select name="employee" class="form-control" id="id_employee">
                <option selected disabled>Please choose</option>
                <option value="new_employee">Create new employee</option>
                <option value="jane_smith">Jane Smith</option>
            </select>
        </div>
    </div>

    {% for field in form %}
        {% cycle '<div class="form-group row mb-4">' '' %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label pr-0">{{ field.label }}</label>
            <div class="col-sm-4">
                {{ field }}
            </div>
        {# Cycle as normal unless it's the last iternation of the loop, in which case we always need to close the div #}
        {% if forloop.last %}</div>{% else %}{% cycle '' '</div>' %}{% endif %}
    {% endfor %}

    <div class="form-group row mb-0">
        <div class="offset-sm-2 col-sm-7">
            <span class="form_error" style="color: red">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
        <div class="col-sm-3 anna-ta-r">
            <input type="submit" value="Confirm" class="btn btn-success">
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script>
 $("#id_username").change(function () {
    $.ajax({
        url: $(this).attr("data-validate-username-url"),
        data: $(this).serialize(),
        dataType: 'json',
        success: function (data) {
            if (data.is_taken) {
                $( ".form_error" ).append(data.error_message);
            }
        }
    });
});
</script>
{% endblock %}
