{% extends 'base.html' %}{% load ts_tags %}

{% block content %}
<h3 class="pt-5 pb-5 anna-ta-r">Add / Edit Emoloyee</h3>

<form method="POST" class="post-form greyed">
    {% csrf_token %}

    <div class="form-group row mt-4">
        <label for="id_purpose" class="anna-ta-r-wide col-sm-2 col-form-label pr-0">Employee</label>
        <div class="col-sm-4 mb-5">
            <select name="client" class="form-control" id="id_purpose">
                <option selected disabled>Please choose</option>
                <option value="new_client">Create new employee</option>
                {% for employee in existing_employees %}
                <option value="{{ employee.id }}">{{ employee.first_name|title }} {{ employee.last_name|title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row mb-0">
        {{ form.first_name|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-4 mb-4">
            {{ form.first_name|add_input_class:'form-control' }}
        </div>

        {{ form.last_name|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-4 mb-4">
            {{ form.last_name|add_input_class:'form-control' }}
        </div>
    </div>

    <div class="form-group row mb-0">
        {{ form.username|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-4 mb-4">
            {{ form.username|add_input_class:'form-control' }}
        </div>

        {{ form.email|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-4 mb-4">
            {{ form.email|add_input_class:'form-control' }}
        </div>
    </div>

    <div class="form-group row mb-0">
        {{ form.password1|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-4 mb-4">
            {{ form.password1|add_input_class:'form-control' }}
        </div>

        {{ form.password2|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-4 mb-4">
            {{ form.password2|add_input_class:'form-control' }}
        </div>
    </div>

    <div class="form-group row mb-0">
        {{ form.is_active|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-1 mb-3">
            {{ form.is_active }}
        </div>
    </div>

    <div class="form-group row mb-0">
        <div class="offset-sm-2 col-sm-7">
            <span class="form_error text-danger">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
        <div class="col-sm-3 anna-ta-r">
            <input type="submit" value="Confirm" class="btn btn-success">
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script>
 $("#id_username").change(function () {
    $.ajax({
        url: $(this).attr("data-validate-username-url"),
        data: $(this).serialize(),
        dataType: 'json',
        success: function (data) {
            if (data.is_taken) {
                $( ".form_error" ).append(data.error_message);
            }
        }
    });
});
</script>
{% endblock %}
