{% extends 'base.html' %}

{% block content %}

<div class="offset-sm-3 col-sm-6 pt-5">

<form method="POST" class="post-form greyed mt-5">
    {% csrf_token %}
<h3 class="pt-0 pb-5 anna-ta-c">Login</h3>

    <div class="form-group row mb-4 mt-3">
        <label for="id_username" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-8">
            <input type="text" name="username" class="form-control" autofocus maxlength="149" required id="id_username" />
        </div>
    </div>

    <div class="form-group row mb-4">
        <label for="id_password" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
            <input type="password" name="password" class="form-control" maxlength="127" required id="id_password" />
        </div>
    </div>

    <div class="form-group row mb-0">
      <div class="col-sm-12 mt-5 anna-ta-r">
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </div>
</form>
</div>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endblock %}
