{% extends 'base.html' %}{% load ts_tags %}

{% block content %}

<div class="offset-sm-3 col-sm-6 pt-5">

<form method="POST" class="post-form greyed mt-5">
    {% csrf_token %}
<h3 class="pt-0 pb-5 pl-4 anna-ta-c">Login</h3>

    <div class="form-group row mb-4 mt-3">
        {{ form.username|add_label_class:'anna-ta-r-wide col-sm-4 col-form-label pr-0' }}
        <div class="col-sm-8">
            {{ form.username|add_input_class:'form-control' }}
        </div>
    </div>

    <div class="form-group row mb-4">
        {{ form.password|add_label_class:'anna-ta-r-wide col-sm-4 col-form-label pr-0' }}
        <div class="col-sm-8">
            {{ form.password|add_input_class:'form-control' }}
        </div>
    </div>

    <div class="form-group row mb-0">
      <div class="col-sm-12 mt-4 anna-ta-r">
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </div>
</form>
</div>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endblock %}
