{% extends 'base.html' %}{% load static %}{% load ts_tags %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
{% endblock %}

{% block content %}
<h3 class="pt-5 pb-5 anna-ta-r">Add / Edit Project</h3>

<form method="POST" class="post-form greyed">
    {% csrf_token %}

    <div class="form-group row mt-4">
        <label for="id_purpose" class="anna-ta-r-wide col-sm-2 col-form-label pr-0">Project</label>
        <div class="col-sm-4 mb-5">
            <select name="client" class="form-control" id="id_purpose">
                <option selected disabled>Please choose</option>
                <option value="new_client">Create new project</option>

                {% for project in existing_projects %}
                <option value="{{ project.project_id }}">{{ project.project_name|title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row mb-0">
        {{ form.project_name|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-4 mb-4">
            {{ form.project_name|add_input_class:'form-control' }}
        </div>

        <label for="id_client_id" class="anna-ta-r-wide col-sm-2 col-form-label">Client</label>
        <div class="col-sm-4">
            <select name="client" class="form-control" id="id_client_id">
                <option selected disabled>Please choose</option>

                {% for client in existing_clients %}
                <option value="{{ client.client_id }}">{{ client.client_business_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row mb-0">
        {{ form.project_description|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-10 mb-4">
            {{ form.project_description|add_input_class:'form-control' }}
        </div>
    </div>

    <div class="form-group row mb-0">
        <label class="anna-ta-r-wide col-sm-2 col-form-label pr-0" for="id_project_color">Project color</label>
        <div class="col-sm-4 mb-3">
            {{ form.project_color }}
        </div>

        {{ form.is_active|add_label_class:'anna-ta-r-wide col-sm-2 col-form-label pr-0' }}
        <div class="col-sm-1 mb-3">
            {{ form.is_active }}
        </div>
    </div>

    <div class="form-group row mb-0">
        <div class="offset-sm-2 col-sm-7">
            <span class="form_error text-danger">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
        <div class="col-sm-3 anna-ta-r">
            <input type="submit" value="Confirm" class="btn btn-success">
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'colorfield/jscolor/jscolor.min.js' %}"></script>
{% endblock %}
