{% extends 'base.html' %}

{% block content %}
<h3 class="pt-5 pb-5 anna-ta-r">Login</h3>

<form method="POST" class="post-form">
    {% csrf_token %}

    <div class="form-group row mb-4">
        <label for="id_username" class="offset-sm-3 col-sm-2 col-form-label">Username</label>
        <div class="col-sm-4">
            <input type="text" name="username" class="form-control" autofocus maxlength="254" required id="id_username" />
        </div>
    </div>

    <div class="form-group row mb-4">
        <label for="id_password" class="offset-sm-3 col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
            <input type="password" name="password" class="form-control" required id="id_password" />
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-9 mt-5 anna-ta-r">
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </div>
</form>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endblock %}
