{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mt-30" id="scheduler-id"></div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>


<div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


<p style="font-size:13px">
    You can add items by clicking an empty box, and you can drag over multiple horiztonal boxes to create longer events.
    <br><br>
    Clicking on an existing work box lets you edit it, you can drag the bits to the left and right of it to resize it.
    <br><br>
    You can move work boxes around so long as they don't overlap each other.
    <br><br>
    Changing the project the work box belongs to changes its colour strip so it's easier to read what's what.
</p>

<img src="{% static "images/sid111111111111e3.jpg" %}" class="img-responsive" alt="My image"/>

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'entry:detail' question.id %}">{{ question.question_text }}</a></li>

    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {

    var divName = '#scheduler-id';

    $(divName).fullCalendar({
        header: {
            left: 'prev, next today',
            center: 'title',
            right: 'agendaDay, agendaWeek, month,'
        },

        contentHeight: 'auto',
        defaultView: 'agendaWeek',
        defaultDate: moment(),              // Using the moment js lib, create a new moment which by default is current date
        minTime: '07:00',                   // Time day/week views start
        maxTime: '23:00',                   // Time day/weel views stop
        columnFormat: 'ddd',
        weekNumbers: true,                  // Show week numbers in month view
        showNonCurrentDates: true,          // Show greyed out dates from adjacent months in month view.
        hiddenDays: [0],                    // Hide Sunday
        firstDay: 1,                        // Set Monday as first day of the week
        slotLabelInterval: '00:30',
        allDaySlot: false,                  // Disable whole day selecting
        navLinks: true,
        selectable: true,                   // Enable interactiveness
        selectOverlap: false,               // Don't allow overlapping events (Can't do two things at once!)
        eventOverlap: false,                // Don't allow overlaps when editing events
        selectHelper: true,

        select: function(start, end) {


            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = start // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $('#add_modal');
            modal.find('.modal-title').text('New message to ' + recipient);
            modal.find('.modal-body input').val(recipient);

            $(modal).modal('show')


            /*
            var title = prompt('Event Title:');
            var eventData;
            if (title) {
                eventData = {
                    title: title,
                    start: start,
                    end: end
                };
                $(divName).fullCalendar('renderEvent', eventData, true); // stick? = true
            }
            $(divName).fullCalendar('unselect');
            */
        },

        eventClick: function(calEvent, jsEvent, view) {

        console.log('Event: ' + calEvent.title);
        console.log('Start: ' + calEvent.start);
        console.log('End: ' + calEvent.end);

        // change the border color just for fun
        $(this).css('border-color', 'red');

        },

        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [
            {
                id: 0,
                color: '#E00',
                editable: true,
                title: 'Event1',
                start: '2017-05-09T12:00:00',
                end: '2017-05-09T16:00:00'
            },
            {
                id: 1,
                color: '#0B0',
                editable: true,
                title: 'Event2',
                start: '2017-05-10T10:00:00',
                end: '2017-05-10T13:00:00'
            },
            {
                id: 2,
                color: '#00B',
                editable: true,
                title: 'Event3',
                start: '2017-05-12T15:00:00',
                end: '2017-05-12T17:30:00'
            }
        ]
    });
});
</script>

{% endblock %}